h1, h4 {
	text-align: center;
}

h1 {
	font-family: 'Playfair Display SC', serif;
	font-size: 40pt;
	margin-bottom: 0;
}

h4 {
	font-family: 'Playfair Display SC', serif;
}

#main {
	align-items: center;
}

#trumpUnderlay {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

#trumpUnderlay img {
  width: 100%;
  z-index: 0;
}

#tweetBox {
	float: center;
  	border-color: #eee #ddd #bbb;
  	border-radius: 5px;
  	border-style: solid;
  	border-width: 1px;
  	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  	padding: 0 16px 16px 16px;
  	width: 468px;
 	margin: 10 auto;
}

.profilePic {
	border-radius: 50%;
	height: 65px;
	width: 65px;
}

#ppic {
	padding-right: 10px;
	padding-top: 10px;
	float: left;
}

#TopTweet {
	padding-bottom: 3px;
}

#NameTweet {
	padding-top: 20px;
}

#NameTweet a {
	font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  	font-size: 18px;
  	font-weight: bold;
  	line-height: 16px;
	text-decoration: none;
	color: black;
	float: left;
	padding-right: 5px;
	margin-bottom: 0px;
}

#NameTweet p {
	color: #707464;
	margin-top: 7px;
	font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  	font-size: 12px;
  	line-height: 10px;
}

#MainContent p {
	font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  	font-size: 20px;
  	line-height: 28px;
}

#YesOrNo {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

#NextTweet {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.verified {
	height: 15px;
	width: 15px; 
	padding-top: 2px;
	margin-bottom: 0px;
}

.twitterLogo {
	height: 20px;
	width: 20px;
	float: right;
}

#TweetBottom p {
	font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
	font-size: 12px;
	color: #707464;

}

#renewTweet {
  display: none;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  background-color: #1693BA;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #0B4A5D;
}

#renewTweet:hover {background-color: #1693BA}

#renewTweet:active {
  background-color: #1693BA;
  box-shadow: 0 5px #06252F;
  transform: translateY(4px);
}

footer {
	margin-top: 20px;
	margin-bottom: 30px;
	text-align: center;
	font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;

}
#Result {
		display: none;
		text-align: center;
}

#Result p {
	text-align: center;
	font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
	font-size: 18px;

}

#TruString {
		display: none;
		text-align: center;
		font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
		font-size: 18px;
}

#FalsString {
		display: none;
		text-align: center;
		font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
		font-size: 18px;

}

#percentageString {
    display: none;
    text-align: center;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 18px;

}


#YoutubeVid {
	text-align: center;
	margin: 30 auto;
}

#Tru {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  background-color: #4379A6;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #0A2236;
}

#Tru:hover {background-color: #0F3351}

#Tru:active {
  background-color: #0F3351;
  box-shadow: 0 5px #05111B;
  transform: translateY(4px);
}

#Fals {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  background-color: #D90118;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #77010E;
}

#Fals:hover {background-color: #9E0112}

#Fals:active {
  background-color: #9E0112;
  box-shadow: 0 5px #3C0107;
  transform: translateY(4px);
}
