html { font-size: 12px; }
body {
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
	display: flex;
	flex-direction: column;
	height: 100vh;
	align-items: center;
}
* {
	box-sizing: border-box;
}

h1, h4 {
	text-align: center;
	margin: 0 10px 0 10px;
	font-family: 'Playfair Display SC', serif;
}

h1 {
	margin-top: 5px;
	font-size: 4rem;
}

#trumpUnderlay {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

#trumpUnderlay img {
  width: 100%;
  z-index: 0;
}

#tweetBox {
	float: center;
  	border-color: #eee #ddd #bbb;
  	border-radius: 5px;
  	border-style: solid;
  	border-width: 1px;
  	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  	padding: 0 16px 16px 16px;
  	width: 468px;
	max-width: 90vw;
 	margin: 10 auto;
}

.profilePic {
	border-radius: 50%;
	height: 65px;
	width: 65px;
}

#ppic {
	padding-right: 10px;
	padding-top: 10px;
	float: left;
}

#topTweet {
	padding-bottom: 3px;
}

#nameTweet {
	padding-top: 20px;
}

#nameTweet a {
	
  	font-size: 1.5rem;
  	font-weight: bold;
  	line-height: 16px;
	text-decoration: none;
	color: black;
	float: left;
	padding-right: 5px;
	margin-bottom: 0px;
}

#nameTweet p {
	color: #707464;
	margin-top: 7px;
	
  	font-size: 1rem;
  	line-height: 10px;
}

#mainContent p {
	
  	font-size: 1.5rem;
  	line-height: 28px;
}

#voting {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

#nextTweet {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.verified {
	height: 15px;
	width: 15px; 
	padding-top: 2px;
	margin-bottom: 0px;
}

.twitterLogo {
	height: 20px;
	width: 20px;
	float: right;
}

#tweetBottom p {
	
	font-size: ;
	color: #707464;

}

#renewTweet {
  display: none;
  padding: 15px 25px;
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #1693BA;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #0B4A5D;
}

#renewTweet:hover {background-color: #1693BA}

#renewTweet:active {
  background-color: #1693BA;
  box-shadow: 0 5px #06252F;
  transform: translateY(4px);
}

footer {
	width: 100%;
	margin-top: 10px;
	border-top: 1px solid black;
	padding: 5px;
	text-align: center;
}
.spacer {
	flex: 1 1 auto;
}
#timestamp, #tweetText {
	margin-bottom: 0;
}
#message, #percentage {
	padding-top: 10px;
	height: 30px;
	text-align: center;
	font-size: 1.5rem;
}

#yes, #no {
  display: inline-block;
  padding: 15px 25px;
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  
  background-color: #4379A6;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #0A2236;
}

#yes:hover {background-color: #0F3351}

#yes:active {
  background-color: #0F3351;
  box-shadow: 0 5px #05111B;
  transform: translateY(4px);
}

#no {
  background-color: #D90118;
  box-shadow: 0 9px #77010E;
}

#no:hover {background-color: #9E0112}

#no:active {
  background-color: #9E0112;
  box-shadow: 0 5px #3C0107;
  transform: translateY(4px);
}

@media (max-width: 768px) {
  h1 {
     font-size: 2rem;
  }	
}
